.sprint-content {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background-color: black;
}

.sprint-content .MuiTypography-body1{
 font-weight: bold;   
}

.sprint-content .MuiListItemIcon-root{
    color: #000000;
}

.sprint-content .MuiButtonBase-root .MuiListItem-root .MuiListItem-gutters .MuiListItem-button{
    background-color: #204854;
}